<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ title }}</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta property="og:title" content="{{ title }}">
        <meta property="og:image" content="{{ img_url }}">
        <meta property="fc:frame" content="vNext">
        <meta property="fc:frame:image" content="{{ img_url }}">
        <meta property="fc:frame:image:aspect_ratio" content="{aspect_ratio}">
        <meta property="fc:frame:post_url" content="{{ post_url }}">
        {% for button in buttons %}
            <meta property="fc:frame:button:{{ loop.index }}" content="{{ button.text }}">
            {% if button.target %}
                <meta property="fc:frame:button:{{ loop.index }}:action" content="{{ button.target }}">
            {% endif %}
            {% if button.action %}
                <meta property="fc:frame:button:{{ loop.index }}:target" content="{{ button.action }}">
            {% endif %}
        {% endfor %}
        {% if state %}
            <meta name="fc:frame:state" content="{{ state }}">
        {% endif %}
    </head>

    <body style="margin: 0; height: 100vh; display: flex; justify-content: center; align-items: center;">
        <div style="text-align: center;">
            <h1>¯\_(ツ)_/¯</h1>
        </div>
    </body>
</html>
